<div class="banner">
  <div class="container">
    <h1>Sinta-se em casa aqui na <strong>Tr3s Roda</strong>!</h1>
    <p>Onde você é quem faz tudo rodar</p>
    <%= link_to "Agora só falta você!", new_user_registration_path, class: "btn btn-flat" %>
  </div>
</div>
<hr>
<div class="container">
  <div class="d-flex justify-content-between">
    <h3 class="mt-3">Veja as principais ofertas!</h3>
    <a class="btn btn-index" href="/cars">Veja todas as ofertas!</a>
  </div>
  <ul class="list-group list-group-horizontal list-group-flush justify-content-evenly row">
        <% @sorted_cars.each do |c| %>
          <li class="list-group-item mb-4 col-4">
            <div class="card">
              <% if c.photo.attached? %>
                <%= cl_image_tag c.photo.key, height: 300, width: 400, crop: :fill, class: "card-banner card-img-top" %>
              <% else %>
                <%= image_tag "car_placeholder.jpg" %>
              <% end %>
              <div class="card-header text-center">
                Modelo: <%=c.model%> // Ano: <%= c.year %>
              </div>
              <div class="card-body">
                <h5 class="card-title">Fabricante: <%= c.brand %></h5>
                <p class="card-text">Km rodados: <%= c.km %></p>
                <%= link_to "Veja mais informações", car_path(c), class: "btn btn-flat" %>
              </div>
            </div>
          </li>
          <br>
        <% end %>
      </div>
  </ul>
</div>
