<h1 class="hd-car-dark text-center"> Todas as suas ofertas para avaliação</h1>
<div class="container m-top">
  <% @seller_deals.each do |s| %>
    <div class="card card-bls mb-3" style="max-width: 1200px;">
      <div class="row g-0">
        <div class="col-md-4">
          <% if s.car.photo.attached? %>
            <%= cl_image_tag s.car.photo.key, crop: :fill, class: "img-fit" %>
          <% else %>
            <%= image_tag "car_placeholder.jpg", class: "img-fit" %>
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body p-fit">
            <div>
              <h3 class="card-title">Oferta: <strong-r><%= s.price %>,00$</strong-r></h3>
              <h5 class="card-text">Preço inicial <%= s.car.initial_price %>,00$</h5>
              <% if s.accepted? %>
                <p class="card-text bg-success text-white"> Voce já aceitou essa oferta de <%= s.buyer.first_name %></p>
              <% else %>
                <%= render "edit_form", deal: s %>
              <% end %>
            </div>
            <%= link_to "Detalhes", deal_path(s), class: "btn btn-dark mt-4" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
