<h1 class="bg-dark bg-gradient text-white text-center"> Confirmação de preço para <%= @car.brand %> <%= @car.model %>, <%= @car.year %></h1>
<h3> Converse com <%= @car.user.first_name %>, para chegarem a um acordo</h3>
<%= link_to "Volte", car_path(@car), class: "btn btn-dark" %>
<hr>
<div class="container m-3">
  <div class="card">
    <div class="card-header text-center">
      <%= @buyer.first_name %> <%= @buyer.last_name %>
    </div>
    <div class="card-body">
      <%= render "buyer_form", deal: @deal %>
    </div>
  </div>
</div>
