<% dealing_car = @deal.car %>
<h1 class="hd-car-dark text-center">Minha oferta para <%= dealing_car.model %></h1>

<div class="card card-bls">
  <% if @deal.car.photo.attached? %>
    <%= cl_image_tag dealing_car.photo.key, crop: :fill, class: "img-show mb-4" %>
  <% else %>
    <%= image_tag "car_placeholder.jpg", class: "img-show mb-4"%>
  <% end %>
  <div class="card-body mb-4">
    <div class="card-footer text-center">
      <% if @deal.accepted? %>
        <%= @deal.seller.first_name %> Aceitou sua proposta! Parabéns!
        Entre em contato por <%= @deal.seller.email %>
        <% else %>
        Sua oferta ainda não foi aceita, espere por <%= @deal.seller.first_name %>
      <% end %>
    </div>
    <%= link_to "Volte", my_deals_path, class: "btn btn-dark" %>
  </div>
</div>
