<h1 class="hd-car-dark text-center">Todas as ofertas</h1>
<div class="container">
  <br>
  <br>
  <br>
    <%= form_with url: cars_path, method: :get, class: "d-flex mb-3 src" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Ache o carro ideal para você"
        %>
      <%= submit_tag "Buscar", name: "", class: "btn btn-flat" %>
    <% end %>
  <% @cars.each do |car| %>
    <div class="card mb-3" style="max-width: 1200px;">
      <div class="row row-hz g-0">
        <div class="col-md-4">
          <% if car.photo.attached? %>
            <%= cl_image_tag car.photo.key, crop: :fill, class: "card-banner card-img-top" %>
          <% else %>
            <%= image_tag "car_placeholder.jpg" %>
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Modelo: <%= car.model %>, Fabricante: <strong-r> <%= car.brand %> </strong-r></h3>
            <h5 class="card-text"><small class="text-muted">Ano: <%= car.year %></small></h5>
            <h5 class="card-text"><small class="text-muted">Kilometragem: <%= car.km %></small></h5>
            <h5 class="card-text"><small class="text-muted"><strong-r><%= car.initial_price %>,00$ </strong-r></small></h5>
            <%= link_to "Mais Detalhes", car_path(car), class: "btn btn-flat" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
