<div class="container p-3">
  <div class="d-flex justify-content-center">
    <% if @car.photo.attached? %>
      <%= cl_image_tag @car.photo.key, crop: :fill, class: "img-show mt-2" %>
    <% else %>
      <%= image_tag "car_placeholder.jpg" %>
    <% end %>
  </div>
  <div class="row mt-3">
    <div class="col-8">
      <div class="card card-bls">
        <div class="card-body">
          <h3 class="card-title text-center"><strong><%= @car.model %></strong>, <strong-r><%= @car.brand %></strong-r></h3>
          <hr>
          <p class="card-text">Vendedor: <%= @car.user.first_name %> <%= @car.user.last_name %></p>
          <p class="card-text">Kilometragem: <%= @car.km %></p>
          <p class="card-text">Ano: <%= @car.year %></p>
        </div>
        <div class="card card-body mt-5">
          <%= render "reviews/form", review: @review, car: @car %>
        </div>
      </div>
    </div>
    <div class="col-4 text-center">
      <div class="card-body p-4">
        <h3 class="card-title">Oferta</h3>
        <h5 class="card-text">Preço pedido: <%= @car.initial_price %>,00$</h5>
        <div class="card-footer text-center">
          <%= link_to "Dê uma oferta neste carro", new_car_deal_path(@car), class: "btn btn-gradient" %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container mb-5">
  <% @car.reviews.each do |r|%>
   <div class="card-body">
    <h3> <%= r.user.first_name %> <%= r.user.last_name %>, perguntou </h3>
      <%= r.post %>
   </div>
  <% end %>
</div>
<div class="px-5 pb-5">
  <%= link_to "Voltar", cars_path, class: "btn btn-dark" %>
</div>
